<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HLS Load Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='common.js') }}"></script>
  </head>

  <body>
    <div class="container">

      <!-- PARAMETERS -->
      <div id="parameters" style="margin-top:20px">
        <form id="params_form" method="post" action="{{ url_for('start') }}" class="form-horizontal well" role="form">

          <h4 class="setup_title">Stream Parameters</h4>

          <div class="form-group">
            <div class="col-lg12 col-md-12 col-sm-12 col-xs-12">
              <label for="url" class="form-label">
                URL <span style="color:red">*</span>
              </label>
                <input id="url" name="url" type="url" placeholder="Playlist .m3u8 URL" class="form-control" value="{{ playlist_url }}" required>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <label for="request_sleep" class="form-label ">
                Sleep <span style="color:red">*</span>
              </label>
              <input id="request_sleep" name="request_sleep" type="number" step="0.1" min="0" placeholder="Sleep Between Segments" class="form-control" value="{{ sleep }}" required>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <label for="concurrency" class="form-label">
                Concurrency <span style="color:red">*</span>
              </label>
              <input id="concurrency" name="concurrency" type="number" min="1" placeholder="Parallel requests" class="form-control" value="{{ concurrency }}" required>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <label for="live" class="form-label">
                Live <span style="color:red">*</span>
              </label>
              <select id="live" name="live" type="text" class="form-control" onchange="set_live(this)">
                <option {% if live %} selected {% endif %}>True</option>
                <option {% if live != 'True' %} selected {% endif %} >False</option>
              </select>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <label for="loop" id="loop-label" class="form-label">
                Loops
              </label>
              <input id="loop" name="loop" placeholder="Times to loop playlist" class="form-control" value="{{ loop }}" type="number" min="1">
            </div>
          </div>

          
          <!-- Timeouts -->
          <h4 id="timeout_header" class="setup_heading" onclick="toggle_timeout_view()">Timeouts</h4>
          <hr>
          <div id="timeout_fields">
            <div class="form-group">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <label for="read_timeout" class="form-label ">
                  Read Timeout
                </label>
                <input id="read_timeout" name="read_timeout" type="number" placeholder="Read Timeout (seconds)" class="form-control" value="{{ read_timeout }}" type="number" min="1">
              </div>
              
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <label for="connect_timeout" class="form-label ">
                  Connect Timeout
                </label>
                <input id="connect_timeout" name="connect_timeout" type="number" placeholder="Connect Timeout (seconds)" class="form-control" value="{{ connect_timeout }}" type="number" min="1">
              </div>
            </div>
          </div>

          
          <!-- AUTHENTICATION -->
          <h4 id="auth_header" class="setup_heading" onclick="toggle_auth_view()">Authentication</h4>
          <hr>
          <div id="auth_fields">
            <div class="form-group">
              <div class="col-lg12 col-md-12 col-sm-12 col-xs-12">
                <label for="url" class="form-label">
                  Authentication URL
                </label>
                  <input id="auth_url" name="auth_url" type="url" placeholder="URL for authentication" class="form-control" value="{{ auth_url }}">
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label for="request_sleep" class="form-label ">
                  Username
                </label>
                <input id="auth_username" name="auth_username" type="text" placeholder="Login Username" class="form-control" value="{{ auth_username }}">
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label for="concurrency" class="form-label">
                  Password
                </label>
                <input id="auth_password" name="auth_password" type="text" placeholder="Login Password" class="form-control" value="{{ auth_password }}">
              </div>
              
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label for="concurrency" class="form-label">
                  Request Type
                </label>
                <select id="auth_type" name="auth_type" type="text" class="form-control">
                  <option>POST</option>
                  <option>GET</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group text-center">
            <button class="btn btn-primary" onclick="clear_form('params_form'); return false;" style="width:200px; margin-right:30px; margin-left:30px">
              Clear
            </button>
            <button id="submit_button" class="btn btn-primary" type="button" onclick="send_form(); return false"; style="width:200px; margin-right:30px; margin-left:30px">
              Start
            </button>
          </div>

        </form>
      </div>

      <div id="results_and_metrics" {% if test_stats != 'True' %}style="display:none"{% endif %}>
        <!-- STATISTICS -->
        <h4 class="section_header"> Statistics </h4>
        <hr>
        <div id="test_complete" style="width:100%; text-align:center; color:green; font-weight:800; font-size:20px"></div>
        <div id="statistics" style="margin-left:20px">
          
          <h5> <u>HTTP Return Codes</u> </h5>
          <div id="return_code_container">
          </div>

          <h5> <u>Response Types</u> </h5>
          <div id="response_type_container">
          </div>

          <h5> <u>Response Times</u> </h5>
          <div id="response_times_container">
            {% if response_times %}
              {% for key in response_times.keys() %}
                <span style="margin-left:10px"><b>{{ key }}</b> : {{ response_times[key] }} seconds</span><br/>
              {% endfor %}
            {% endif %}
          </div>

          <h5> <u>Playlist Acquired Successfully?</u> </h5>
          <div id="playlist_status_container">
          </div>
        </div>

        <div style="text-align:center; width:100%; margin-top:20px">
          <b>Tests Saved to :</b> <span id="text_location">{{ test_location }}</span>
        </div>

        <!-- VIEWER -->
        <h4 class="section_header"> Viewer </h4>
        <hr>
        <div id="viewer" style="text-align:center">
          <video width="352" height="198" controls>
          <source src="{{ playlist_url }}" type="application/x-mpegURL">
          </video>
        </div>

      </div>
    </div>
  </body>
</html>
