<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HLS Load Test</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      <h4> Parameters </h4>
      <hr>

      <!-- PARAMETERS -->
      <div id="parameters">
        <form id="params_form" method="post" action="{{ url_for('start') }}" class="form-horizontal well" role="form">

          <div class="form-group">
            <div class="col-lg12 col-md-12 col-sm-12 col-xs-12">
              <label for="url" class="form-label">
                URL <span style="color:red">*</span>
              </label>
                <input id="url" name="url" type="url" placeholder="Playlist .m3u8 URL" class="form-control" value="{{ playlist_url }}" required>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <label for="request_sleep" class="form-label ">
                Sleep <span style="color:red">*</span>
              </label>
              <input id="request_sleep" name="request_sleep" type="number" step="0.1" min="0" placeholder="Sleep Between Segments" class="form-control" value="{{ sleep }}" required>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <label for="concurrency" class="form-label">
                Concurrency <span style="color:red">*</span>
              </label>
              <input id="concurrency" name="concurrency" type="number" min="1" placeholder="Parallel requests" class="form-control" value="{{ concurrency }}" required>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <label for="live" class="form-label">
                Live <span style="color:red">*</span>
              </label>
              <select id="live" name="live" type="text" class="form-control" onchange="set_live(this)">
                <option {% if live %} selected {% endif %}>True</option>
                <option {% if live != 'True' %} selected {% endif %} >False</option>
              </select>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <label for="loop" id="loop-label" class="form-label">
                Loops
              </label>
              <input id="loop" name="loop" placeholder="Times to loop playlist" class="form-control" value="{{ loop }}" type="number" min="1">
            </div>
          </div>

          <hr>

          <!-- AUTHENTICATION -->
          <div class="form-group">
            <div class="col-lg12 col-md-12 col-sm-12 col-xs-12">
              <label for="url" class="form-label">
                Authentication URL
              </label>
                <input id="auth_url" name="auth_url" type="url" placeholder="URL for authentication" class="form-control" value="{{ auth_url }}">
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <label for="request_sleep" class="form-label ">
                Username
              </label>
              <input id="auth_username" name="auth_username" type="text" placeholder="Login Username" class="form-control" value="{{ auth_username }}">
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <label for="concurrency" class="form-label">
                Password
              </label>
              <input id="auth_password" name="auth_password" type="text" placeholder="Login Password" class="form-control" value="{{ auth_password }}">
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <label for="concurrency" class="form-label">
                Request Type
              </label>
              <select id="auth_type" name="auth_type" type="text" class="form-control">
                <option>POST</option>
                <option>GET</option>
              </select>
            </div>
          </div>

          <hr>

          <div class="form-group text-center">
            <button class="btn btn-primary" onclick="clear_form('params_form'); return false;" style="width:200px; margin-right:30px; margin-left:30px">
              Clear
            </button>
            <button class="btn btn-primary" type="button" onclick="send_form(); return false"; style="width:200px; margin-right:30px; margin-left:30px">
              Start
            </button>
          </div>

        </form>
      </div>

      <div {% if test_stats != 'True' %}style="display:none"{% endif %}>
        <!-- STATISTICS -->
        <h4> Statistics </h4>
        <hr>
        <div id="statistics" style="margin-left:20px">
          
          <div id="return_code_container">
            <h5> <u>HTTP Return Codes</u> </h5>
          </div>

          <div id="response_type_container">
            <h5> <u>Response Types</u> </h5>
          </div>

          <div id="response_times_container">
            <h5> <u>Response Times</u> </h5>
            {% if response_times %}
              {% for key in response_times.keys() %}
                <span style="margin-left:10px"><b>{{ key }}</b> : {{ response_times[key] }} seconds</span><br/>
              {% endfor %}
            {% endif %}
          </div>

          <div id="status_container">
            <h5> <u>Playlist Acquired Successfully?</u> </h5>
          </div>
        </div>

        <div style="text-align:center; width:100%">
          <b>Tests Saved to :</b> {{ test_location }}
        </div>

        <!-- VIEWER -->
        <h4> Viewer </h4>
        <hr>
        <div id="viewer" style="text-align:center">
          <video width="352" height="198" controls>
          <source src="{{ playlist_url }}" type="application/x-mpegURL">
          </video>
        </div>

      </div>
    </div>
    <script type="text/javascript">

      function set_live(setting){
        if (setting.value === "True"){
          document.getElementById('loop').required = true;  
          document.getElementById('loop').placeholder = "Number of segments to get";
          document.getElementById('loop-label').innerHTML = 'Segments <span style="color:red">*</span>'; 
        } else {
          document.getElementById('loop').required = true;
          document.getElementById('loop').placeholder = "Times to loop playlist";
          document.getElementById('loop-label').innerHTML = 'Loop Playlist <span style="color:red">*</span>';
        }
      }

      function clear_form(form_name){
        document.getElementById(form_name).reset();
      }

      function assemble_payload(){
        var payload = {}
        /* Primary Parameters */
        payload.url = document.getElementById('url').value;
        payload.request_sleep = document.getElementById('request_sleep').value;
        payload.concurrency = document.getElementById('concurrency').value;
        payload.live = document.getElementById('live').value;
        payload.loop = document.getElementById('loop').value;

        /* Authentication Paramaters */
        payload.auth_url = document.getElementById('auth_url').value;
        payload.auth_username = document.getElementById('auth_username').value;
        payload.auth_password = document.getElementById('auth_password').value;
        payload.auth_type = document.getElementById('auth_type').value;

        return payload;
      }

      var es = false;

      function send_form(){
        var url = '/set/';
        var client  = new XMLHttpRequest();
        var payload = assemble_payload();

        client.onreadystatechange = function() {
          if (client.readyState == 4 && client.status == 200) {

            es = new EventSource('/start/');
            
            es.onmessage = function(e) {  
              var response = JSON.parse(e.data);
              var status_codes = response.status_codes;
              var results = response.results;
              var response_times = response.response_times;
              var success = response.success;
              console.log('SC ' + status_codes);
              console.log('RZ ' + JSON.stringify(results));
              console.log('RT ' + response_times);
              console.log('S ' + success);
              console.log('e ' + e.data);
            } 
            es.onerror = function(e) {
              e = e || event, msg = '';
              switch( e.target.readyState ){
                case EventSource.CONNECTING: // Stream Closed
                  es.close();
                  return;
                case EventSource.CLOSED:
                  console.log("Event source closed");
                  return;
              }
            }
          } else {
            if(es.readyState !== 2) {
              try {
                es.close()
              } catch(e) {
                //socket already closed
              }
              return;
            }        
          }
        }

        client.open('POST', url, true);
        client.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        client.send(JSON.stringify(payload));
      }

      set_live(document.getElementById('live'));

  </script>
  </body>
</html>
